[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
nltk = "*"
torch = "*"
pymorphy2 = "*"
transformers = "*"
APScheduler = "*"
python-telegram-bot = "*"
jupyterlab = "*"
sklearn = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.7"
